.idCardlist {
  margin: 100px;
}

li {
  display: flex;
  flex-direction: row;
  background-color: rgb(235, 235, 235);
  margin: 20px 40px;
}

img {
  margin: 10px;
}

.credicard-image {
  height: auto;
  width: 50px;
}

.creditCard {
  width: 400px;
  padding: 20px;
  margin: 100px;
}

.creditCardlist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: red;
  padding: 10px;
}
